# Для PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=images_db

DB_NAME=images_db
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db_image
DB_PORT=5432
SECRET_KEY=dev-secret-key
DOMAIN=image.mydomen